@model IEnumerable<ProjectManagementSystem.Models.ViewModels.AccountViewModels.TaskViewModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole(ProjectManagementSystem.Helper.Helper.Admin))
{
    <h2>List of Tasks</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <a class="mb-3 btn btn-lg btn-primary" asp-action="Create" asp-controller="Task">Create new Task</a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style=" width: 100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Project name
                    </th>
                    <th>
                        Manager
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Progress
                    </th>
                    <th>
                        Deadline
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td width="11%">@item.Name</td>
                        <td width="11%">@item.Description</td>
                        <td width="11%">@item.ProjectName</td>
                        <td width="11%">@item.ManagerName</td>
                        <td width="11%">@item.DeveloperName</td>
                        <td width="11%">@item.Status</td>
                        <td width="11%">@item.Progress %</td>
                        <td width="11%">@item.Deadline</td>

                        <td width="30%">
                            <div class="text-right role="group">
                                <a asp-controller="Task" asp-action="Edit" asp-route-Id="@item.Id" class=" btn btn-primary"> Edit</a>
                                <a asp-controller="Task" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger"> Delete</a>
                            </div>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    }


}
@if (User.IsInRole(ProjectManagementSystem.Helper.Helper.Developer))
{
    <h2>List of Tasks</h2>
    <hr />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style=" width: 100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Project name
                    </th>
                    <th>
                        Manager
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Progress
                    </th>
                    <th>
                        Deadline
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.DeveloperId == null || item.DeveloperUserName == User.Identity.Name)
                    {
                        <tr>
                            <td width="11%">@item.Name</td>
                            <td width="11%">@item.Description</td>
                            <td width="11%">@item.ProjectName</td>
                            <td width="11%">@item.ManagerName</td>
                            <td width="11%">@item.DeveloperName</td>
                            <td width="11%">@item.Status</td>
                            <td width="11%">@item.Progress % </td>
                            <td width="11%">@item.Deadline.</td>
                            @if (item.DeveloperUserName == User.Identity.Name)
                            {
                                <td width="20%">
                                    <div class="col-6 text-right role="group">
                                        <a asp-controller="Task" asp-action="Edit" asp-route-Id="@item.Id" class=" btn btn-primary"> Edit</a>
                                    </div>
                                </td>
                            }

                        </tr>
                    }
                }

            </tbody>
        </table>
    }
}
@if (User.IsInRole(ProjectManagementSystem.Helper.Helper.ProjectManager))
{
    <h2>List of Tasks</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <a class="mb-3 btn btn-lg btn-primary" asp-action="Create" asp-controller="Task">Create new Task</a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style=" width: 100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Project name
                    </th>
                    <th>
                        Manager
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Progress
                    </th>
                    <th>
                        Deadline
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.ManagerId == null || item.ManagerUserName == User.Identity.Name)
                    {
                        <tr>
                            <td width="11%">@item.Name</td>
                            <td width="11%">@item.Description</td>
                            <td width="11%">@item.ProjectName</td>
                            <td width="11%">@item.ManagerName</td>
                            <td width="11%">@item.DeveloperName</td>
                            <td width="11%">@item.Status</td>
                            <td width="11%">@item.Progress %</td>
                            <td width="11%">@item.Deadline</td>

                            @if (item.ManagerUserName == User.Identity.Name)
                            {
                                <td width="20%">
                                    <div class="col-6 text-right role="group">
                                        <a asp-controller="Task" asp-action="Edit" asp-route-Id="@item.Id" class=" btn btn-primary"> Edit</a>
                                    </div>
                                </td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}